<div class="container dose-form">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient, include_blank: false, collection: @ingredients %>
  <%= f.input :description %>
  <%= f.submit class: 'btn btn-primary' %>
  <% end %>

</div>
